USE [master]
GO
/****** Object:  Database [DOAN]    Script Date: 01/12/2024 21:44:07 ******/
CREATE DATABASE [DOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOAN', FILENAME = N'/var/opt/mssql/data/DOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOAN_log', FILENAME = N'/var/opt/mssql/data/DOAN_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOAN]
GO
USE [DOAN]
GO
/****** Object:  Sequence [dbo].[DailyMetrics_SEQ]    Script Date: 01/12/2024 21:44:08 ******/
CREATE SEQUENCE [dbo].[DailyMetrics_SEQ] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [DOAN]
GO
/****** Object:  Sequence [dbo].[user_SEQ]    Script Date: 01/12/2024 21:44:08 ******/
CREATE SEQUENCE [dbo].[user_SEQ] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NULL,
	[Location] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chatMessage]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatMessage](
	[messageId] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[message] [text] NULL,
	[senderType] [varchar](255) NOT NULL,
	[userId] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyMetrics]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyMetrics](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Weight] [float] NULL,
	[Height] [float] NULL,
	[SystolicBloodPressure] [int] NULL,
	[DiastolicBloodPressure] [int] NULL,
	[HeartRate] [int] NULL,
	[BloodSugar] [float] NULL,
	[BodyTemperature] [float] NULL,
	[Date] [date] NOT NULL,
	[OxygenSaturation] [float] NULL,
 CONSTRAINT [PK_DailyMetrics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTokens]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[DeviceToken] [nvarchar](max) NOT NULL,
	[DeviceType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DeviceTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ClinicAddress] [nvarchar](max) NULL,
	[ClinicCity] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[HistoryOfWork] [nvarchar](max) NULL,
	[NumberOfAppointments] [int] NULL,
	[NumberOfVideoCalls] [int] NULL,
	[Specialization] [nvarchar](max) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentProfiles]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentProfiles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PantientId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[ContentMedical] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[LastModifyDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_DocumentProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[EventDateTime] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[RepeatFrequency] [int] NOT NULL,
	[RepeatInterval] [int] NOT NULL,
	[RepeatEndDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[OriginalEventId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthProfiles]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthProfiles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ProfileCode] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [int] NULL,
	[Residence] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[SharedStatus] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[LastModifyDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HealthProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[PublicId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invalidated_token]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invalidated_token](
	[id] [varchar](255) NOT NULL,
	[expriry_time] [datetime2](6) NULL,
 CONSTRAINT [PK__invalida__3213E83F8938BA78] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notices]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[NoticeId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RecipientId] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[HasViewed] [bit] NOT NULL,
 CONSTRAINT [PK_Notices] PRIMARY KEY CLUSTERED 
(
	[NoticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderId] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[ReminderOffset] [int] NOT NULL,
	[OffsetUnit] [int] NOT NULL,
	[ReminderTime] [datetime2](7) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[IsSent] [bit] NOT NULL,
 CONSTRAINT [PK_Reminders] PRIMARY KEY CLUSTERED 
(
	[ReminderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokenCall]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenCall](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[tokenCall] [nvarchar](max) NOT NULL,
	[callerId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TokenCall] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [uniqueidentifier] NOT NULL,
	[dob] [date] NULL,
	[email] [varchar](255) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[gender] [bit] NULL,
	[last_name] [nvarchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[username] [varchar](255) NOT NULL,
	[callerid] [varchar](255) NULL,
	[tokencall] [nvarchar](max) NULL,
	[avatar] [varchar](1000) NULL,
 CONSTRAINT [PK__user__B9BE370F7E22D744] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEvents]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEvents](
	[UserEventId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[IsOrganizer] [bit] NOT NULL,
 CONSTRAINT [PK_UserEvents] PRIMARY KEY CLUSTERED 
(
	[UserEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserReports]    Script Date: 01/12/2024 21:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReports](
	[Id] [uniqueidentifier] NOT NULL,
	[ReporterId] [uniqueidentifier] NOT NULL,
	[ReportType] [nvarchar](max) NOT NULL,
	[ReportDescription] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[ReportedId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241103134905_Initial', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241103141151_Doctor-Displayname', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241103142857_DoctorReports', N'8.0.8')
GO
INSERT [dbo].[Appointments] ([AppointmentId], [DoctorId], [UserId], [Title], [Description], [Date], [StartTime], [EndTime], [Location], [Status], [Type], [CreatedAt], [UpdatedAt]) VALUES (N'4751daf6-ef4b-4db5-96dd-0ced62d2b6b7', N'a83010e0-6450-483a-bf40-55de35daf183', N'aea413ca-5a8f-4aec-b86e-1b40c7c84a16', N'Tư vấn về Hoàng với Thanh Pham', N'hoàng', CAST(N'2024-12-04T00:00:00.0000000' AS DateTime2), CAST(N'12:45:00' AS Time), CAST(N'13:00:00' AS Time), NULL, N'Rejected', N'Online', CAST(N'2024-12-01T06:38:40.7576557' AS DateTime2), CAST(N'2024-12-01T06:49:51.8427954' AS DateTime2))
INSERT [dbo].[Appointments] ([AppointmentId], [DoctorId], [UserId], [Title], [Description], [Date], [StartTime], [EndTime], [Location], [Status], [Type], [CreatedAt], [UpdatedAt]) VALUES (N'2df83ed3-73b4-4bd8-987f-5d4dc22d58fe', N'a83010e0-6450-483a-bf40-55de35daf183', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'Tư vấn về Đau bụng với Thanh Pham', N'Đau bụng', CAST(N'2024-12-04T00:00:00.0000000' AS DateTime2), CAST(N'13:45:00' AS Time), CAST(N'14:00:00' AS Time), NULL, N'Pending', N'Offline', CAST(N'2024-12-01T14:38:23.0901736' AS DateTime2), CAST(N'2024-12-01T21:38:23.0879297' AS DateTime2))
GO
INSERT [dbo].[DailyMetrics] ([Id], [UserId], [Weight], [Height], [SystolicBloodPressure], [DiastolicBloodPressure], [HeartRate], [BloodSugar], [BodyTemperature], [Date], [OxygenSaturation]) VALUES (N'0af9287d-33b8-48b1-609c-08dd1214f495', N'f56f167f-af25-4433-ba65-990d64dd0d61', NULL, NULL, 80, 80, 80, 100, NULL, CAST(N'2024-12-01' AS Date), NULL)
INSERT [dbo].[DailyMetrics] ([Id], [UserId], [Weight], [Height], [SystolicBloodPressure], [DiastolicBloodPressure], [HeartRate], [BloodSugar], [BodyTemperature], [Date], [OxygenSaturation]) VALUES (N'5e7668fd-c1ad-42bf-a6b7-7a6f8304cd9d', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', 100, 186, NULL, NULL, 120, NULL, NULL, CAST(N'2024-12-01' AS Date), NULL)
INSERT [dbo].[DailyMetrics] ([Id], [UserId], [Weight], [Height], [SystolicBloodPressure], [DiastolicBloodPressure], [HeartRate], [BloodSugar], [BodyTemperature], [Date], [OxygenSaturation]) VALUES (N'5f9e73f8-16b8-4f6e-82ce-c54f55224bce', N'aea413ca-5a8f-4aec-b86e-1b40c7c84a16', 30, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-12-01' AS Date), NULL)
GO
INSERT [dbo].[DeviceTokens] ([Id], [UserId], [DeviceToken], [DeviceType]) VALUES (N'36004113-03ac-4835-39cc-08dd1121d02a', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'test1', N'string')
INSERT [dbo].[DeviceTokens] ([Id], [UserId], [DeviceToken], [DeviceType]) VALUES (N'1cfcdf89-9337-4e46-acc1-08dd11ca114d', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'cnRf8RV1btR2-v9FzgEA7T:APA91bGLA7kieZbKBCQOSeOXAVEOIorncE6464vreIrN35RZMQ0lLba5HATiSdGYICl5eK6rENJysVEm_cgmmF6c_swYJznXtnkYmKqPjBmfVTXQIj8Sz-c', N'web')
INSERT [dbo].[DeviceTokens] ([Id], [UserId], [DeviceToken], [DeviceType]) VALUES (N'8e81d3ce-6d03-4038-2853-08dd11d01c77', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'dsKutiR6gON_722-VQ9Zs3:APA91bGoW1c3GMjDSEkvkeavYbteYlALUvRD2R5DtD4pK1uumF2EY6EgaXb-_UTDNodZI2sfGGv8RD2lqPMWSYp1xq8-KA_ZrFD7gYK-NV6_1zPoKcQ2__M', N'web')
GO
INSERT [dbo].[Doctors] ([Id], [UserId], [Description], [ClinicAddress], [ClinicCity], [DisplayName], [HistoryOfWork], [NumberOfAppointments], [NumberOfVideoCalls], [Specialization]) VALUES (N'a83010e0-6450-483a-bf40-55de35daf183', N'bed9177f-c08e-4113-87ff-7546f4cef7be', N'Chuyên đa khoa', N'Cầu giấy', N'Hà Nội', N'Thanh Pham', N'20 năm kinh nghiệm', 10, 5, N'Đa khoa')
INSERT [dbo].[Doctors] ([Id], [UserId], [Description], [ClinicAddress], [ClinicCity], [DisplayName], [HistoryOfWork], [NumberOfAppointments], [NumberOfVideoCalls], [Specialization]) VALUES (N'c7546842-90bd-4f81-9700-6207bb853513', N'ba5c828d-fc25-4ee3-a9d3-e668d706a866', N'Chuyên da liễu', N'Hoàng Mai', N'Hà Nội', N'Dương Nguyễn', N'15 năm kinh nghiệm', 20, 8, N'Da liễu')
GO
INSERT [dbo].[DocumentProfiles] ([Id], [UserId], [PantientId], [Type], [ContentMedical], [Image], [CreateDate], [LastModifyDate], [Status]) VALUES (N'cf26ed62-7f4c-4f54-89ab-006bfa711d9e', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'3250015b-cd3a-4a4c-a4e4-4aeb08f2caef', 1, N'{"title":"Đơn thuốc ngày 01-12-2024","date":"2024-12-01T08:35:32.784Z","diagnose":"a","doctorRecomend":"a","doctor":"a","drug":[{"key":1,"name":"a","quantity":0,"dosage":"a","unit":"a"}]}', N'[]', CAST(N'2024-12-01T15:35:32.5833513' AS DateTime2), CAST(N'2024-12-01T15:35:32.5833534' AS DateTime2), 0)
INSERT [dbo].[DocumentProfiles] ([Id], [UserId], [PantientId], [Type], [ContentMedical], [Image], [CreateDate], [LastModifyDate], [Status]) VALUES (N'ef72f57b-592d-4cf6-b177-139661c0e0e3', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'3250015b-cd3a-4a4c-a4e4-4aeb08f2caef', 1, N'{"title":"Đơn thuốc ngày 01-12-2024","date":"2024-12-01T08:37:48.304Z","diagnose":"a","doctorRecomend":"a","doctor":"a","drug":[]}', N'[]', CAST(N'2024-12-01T15:35:23.4874468' AS DateTime2), CAST(N'2024-12-01T15:35:23.4874489' AS DateTime2), 0)
GO
INSERT [dbo].[HealthProfiles] ([Id], [UserId], [ProfileCode], [FullName], [DateOfBirth], [Gender], [Residence], [Note], [SharedStatus], [CreateDate], [LastModifyDate]) VALUES (N'1d8485b1-c59f-49b5-8347-105753b62d21', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'abc', N'Vũ Văn Mạnh', CAST(N'2024-12-18' AS Date), 2, N'Hà Nội', N'TEst', 0, CAST(N'2024-12-01T01:02:19.5810331' AS DateTime2), CAST(N'2024-12-01T01:02:19.5810400' AS DateTime2))
INSERT [dbo].[HealthProfiles] ([Id], [UserId], [ProfileCode], [FullName], [DateOfBirth], [Gender], [Residence], [Note], [SharedStatus], [CreateDate], [LastModifyDate]) VALUES (N'bc3c80ec-7a99-4e4d-852f-3e74fb47b613', N'aea413ca-5a8f-4aec-b86e-1b40c7c84a16', N'abc', N'Hoàng', CAST(N'2024-12-09' AS Date), 1, N'Thụy', N'', 3, CAST(N'2024-12-01T12:42:01.7518984' AS DateTime2), CAST(N'2024-12-01T12:42:01.7519624' AS DateTime2))
INSERT [dbo].[HealthProfiles] ([Id], [UserId], [ProfileCode], [FullName], [DateOfBirth], [Gender], [Residence], [Note], [SharedStatus], [CreateDate], [LastModifyDate]) VALUES (N'3250015b-cd3a-4a4c-a4e4-4aeb08f2caef', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'abc', N'New User', CAST(N'2024-12-17' AS Date), 2, N'here', N'me', 0, CAST(N'2024-12-01T00:03:58.1428986' AS DateTime2), CAST(N'2024-12-01T00:03:58.1429433' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [ImageUrl], [PublicId]) VALUES (1, N'http://res.cloudinary.com/diwqq5hc6/image/upload/v1732983948/jsa954b2c5hbdu4d34em.jpg', N'jsa954b2c5hbdu4d34em')
INSERT [dbo].[Images] ([Id], [ImageUrl], [PublicId]) VALUES (2, N'http://res.cloudinary.com/diwqq5hc6/image/upload/v1733033982/gixtoyhure3r3xvdp9cs.png', N'gixtoyhure3r3xvdp9cs')
INSERT [dbo].[Images] ([Id], [ImageUrl], [PublicId]) VALUES (3, N'http://res.cloudinary.com/diwqq5hc6/image/upload/v1733034051/uxfy9rgvpwgmfxwjxn3r.png', N'uxfy9rgvpwgmfxwjxn3r')
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
INSERT [dbo].[News] ([Id], [Title], [Author], [Content], [Category], [CreatedAt], [UpdatedAt], [ImageUrl]) VALUES (N'782e9fd0-e3c8-48b5-188a-08dd115baec5', N'New #1', N'Author', N'### ABC', N'News', CAST(N'2024-11-30T16:26:03.0366667' AS DateTime2), NULL, N'http://localhost:5217/api/Images/img/1')
GO
INSERT [dbo].[Notices] ([NoticeId], [UserId], [RecipientId], [Message], [CreatedAt], [HasViewed]) VALUES (N'4bb0c065-ec76-4fb7-b6a3-1ad25acc3938', N'aea413ca-5a8f-4aec-b86e-1b40c7c84a16', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'hello2 ', CAST(N'2024-12-01T13:21:07.5378245' AS DateTime2), 1)
INSERT [dbo].[Notices] ([NoticeId], [UserId], [RecipientId], [Message], [CreatedAt], [HasViewed]) VALUES (N'c7e25e3d-bfcc-4d9d-b517-8dde579c243b', N'aea413ca-5a8f-4aec-b86e-1b40c7c84a16', N'd97e18cf-b6b6-40b8-a202-3da2e6202e17', N'hello2 ', CAST(N'2024-12-01T13:19:21.2532430' AS DateTime2), 0)
GO
INSERT [dbo].[Reminders] ([ReminderId], [EventId], [ReminderOffset], [OffsetUnit], [ReminderTime], [Message], [IsSent]) VALUES (N'94a2d901-c238-406b-aa22-04a661a98174', N'54e33da3-cc86-42dc-b22d-f26cf131377e', 2, 3, CAST(N'2024-11-14T09:00:00.0000000' AS DateTime2), N'Reminder for event: Giảm cân', 0)
INSERT [dbo].[Reminders] ([ReminderId], [EventId], [ReminderOffset], [OffsetUnit], [ReminderTime], [Message], [IsSent]) VALUES (N'17ad754a-f957-4ad8-9f6a-0da1707af528', N'ca5f527f-a5bf-438e-85c2-e6b14abea95e', 1, 2, CAST(N'2024-11-17T08:00:00.0000000' AS DateTime2), N'Reminder for event: Giảm cân', 0)
INSERT [dbo].[Reminders] ([ReminderId], [EventId], [ReminderOffset], [OffsetUnit], [ReminderTime], [Message], [IsSent]) VALUES (N'e5da3ce4-7dc3-4958-b55a-319917c0b0a4', N'b57c702f-a9ca-474f-bad8-3fae7682e98e', 1, 5, CAST(N'2024-12-01T09:00:00.0000000' AS DateTime2), N'Reminder for event: Uống nước', 0)
GO
INSERT [dbo].[Schedules] ([ScheduleId], [DoctorId], [Date], [StartTime], [EndTime], [Status]) VALUES (N'bd5ed2b7-522f-4c90-942d-05303ad1e446', N'a83010e0-6450-483a-bf40-55de35daf183', CAST(N'2024-12-16T00:00:00.0000000' AS DateTime2), CAST(N'10:00:00' AS Time), CAST(N'10:30:00' AS Time), N'Available')
INSERT [dbo].[Schedules] ([ScheduleId], [DoctorId], [Date], [StartTime], [EndTime], [Status]) VALUES (N'9a9d69b7-b846-4e01-ad28-09bc09f0c51b', N'a83010e0-6450-483a-bf40-55de35daf183', CAST(N'2024-12-10T00:00:00.0000000' AS DateTime2), CAST(N'08:30:00' AS Time), CAST(N'09:00:00' AS Time), N'Available')
INSERT [dbo].[Schedules] ([ScheduleId], [DoctorId], [Date], [StartTime], [EndTime], [Status]) VALUES (N'68a2afe6-addd-4ebb-942a-12cf5749d007', N'a83010e0-6450-483a-bf40-55de35daf183', CAST(N'2024-12-04T00:00:00.0000000' AS DateTime2), CAST(N'20:00:00' AS Time), CAST(N'20:15:00' AS Time), N'Available')
GO
INSERT [dbo].[user] ([user_id], [dob], [email], [first_name], [gender], [last_name], [password], [phone], [role], [status], [username], [callerid], [tokencall], [avatar]) VALUES (N'e8b3de98-df21-4ec6-b2b1-102383c90de1', NULL, N'test123@gmail.com', N'Manh', NULL, N'Vu', N'$2a$10$du4go3RbPHCcjoIvNNLO0eB5P1c22JTOa5XlBfIk6r4IrWlG3bc02', N'0353271947', N'CUSTOMER', N'INACTIVE', N'manhvv12zz', NULL, NULL, NULL)
INSERT [dbo].[user] ([user_id], [dob], [email], [first_name], [gender], [last_name], [password], [phone], [role], [status], [username], [callerid], [tokencall], [avatar]) VALUES (N'aea413ca-5a8f-4aec-b86e-1b40c7c84a16', NULL, N'hoangthuy.forjob@gmail.com', N'Thụy', NULL, N'Hoàng', N'$2a$10$wXKu2RER0Lwuc2LthhKr0eZOH6zluSfjyhOfhFMYZOWUWQwckrg.C', N'0385319701', N'CUSTOMER', N'ACTIVE', N'username', NULL, NULL, NULL)
INSERT [dbo].[user] ([user_id], [dob], [email], [first_name], [gender], [last_name], [password], [phone], [role], [status], [username], [callerid], [tokencall], [avatar]) VALUES (N'2b9713c8-4860-4b09-ba00-1dcf1e7672b3', NULL, N'test@gmail.com', N'Manh', NULL, N'Vu', N'$2a$10$c5ApMUKgXfNoGThI/m.iBuo6auaogBHLLOKoKK8hWjTZ/qtjp1c.e', N'0353271947', N'CUSTOMER', N'INACTIVE', N'manhvv12', N'', N'', NULL)
GO
INSERT [dbo].[UserEvents] ([UserEventId], [UserId], [EventId], [IsAccepted], [IsOrganizer]) VALUES (N'5ff72c31-4e9c-45e7-b6a8-079a0538586f', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'7b7098c5-f889-4b4b-b755-ad378ef35d16', 1, 1)
INSERT [dbo].[UserEvents] ([UserEventId], [UserId], [EventId], [IsAccepted], [IsOrganizer]) VALUES (N'50a9c6da-2bc6-4f6c-8033-138621b9e808', N'd95d1ce5-4de2-4498-beda-ebdcbbde6aec', N'ac617d71-f831-4fe7-2ea1-08dd1210d10c', 0, 0)
INSERT [dbo].[UserEvents] ([UserEventId], [UserId], [EventId], [IsAccepted], [IsOrganizer]) VALUES (N'6142ff24-3914-4372-8af5-17c8f768d3c1', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'154179d4-81f1-4447-8492-b79d4424bafc', 1, 1)
GO
INSERT [dbo].[UserReports] ([Id], [ReporterId], [ReportType], [ReportDescription], [Status], [CreatedAt], [ResolvedAt], [ReportedId]) VALUES (N'e55963bd-038e-46df-9520-34fa7241802e', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'doctor', N'Stinky', 0, CAST(N'2024-11-30T16:20:56.2935464' AS DateTime2), NULL, N'c7546842-90bd-4f81-9700-6207bb853513')
INSERT [dbo].[UserReports] ([Id], [ReporterId], [ReportType], [ReportDescription], [Status], [CreatedAt], [ResolvedAt], [ReportedId]) VALUES (N'a8630774-0030-4afc-a36d-7f77c0229190', N'624b03db-fe5b-4a62-bf85-738eb2516143', N'news', N'EEEEEEEEEEEEEEEE', 0, CAST(N'2024-11-30T16:28:10.5554652' AS DateTime2), NULL, N'782e9fd0-e3c8-48b5-188a-08dd115baec5')
INSERT [dbo].[UserReports] ([Id], [ReporterId], [ReportType], [ReportDescription], [Status], [CreatedAt], [ResolvedAt], [ReportedId]) VALUES (N'963cb138-59f1-4c2e-b906-bf649be4f59c', N'f56f167f-af25-4433-ba65-990d64dd0d61', N'doctor', N'+1 report', 0, CAST(N'2024-12-01T14:40:46.1182474' AS DateTime2), NULL, N'a83010e0-6450-483a-bf40-55de35daf183')
GO
/****** Object:  Index [IX_Appointments_DoctorId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId] ON [dbo].[Appointments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_UserId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_UserId] ON [dbo].[Appointments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyMetrics_UserId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_DailyMetrics_UserId] ON [dbo].[DailyMetrics]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_UserId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Doctors_UserId] ON [dbo].[Doctors]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentProfiles_PantientId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_DocumentProfiles_PantientId] ON [dbo].[DocumentProfiles]
(
	[PantientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthProfiles_UserId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_HealthProfiles_UserId] ON [dbo].[HealthProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notices_UserId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_Notices_UserId] ON [dbo].[Notices]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reminders_EventId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_Reminders_EventId] ON [dbo].[Reminders]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_DoctorId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_DoctorId] ON [dbo].[Schedules]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK5c856itaihtmi69ni04cmpc4m]    Script Date: 01/12/2024 21:44:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK5c856itaihtmi69ni04cmpc4m] ON [dbo].[user]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKhl4ga9r00rh51mdaf20hmnslt]    Script Date: 01/12/2024 21:44:11 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKhl4ga9r00rh51mdaf20hmnslt] ON [dbo].[user]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserEvents_EventId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_UserEvents_EventId] ON [dbo].[UserEvents]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserEvents_UserId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_UserEvents_UserId] ON [dbo].[UserEvents]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserReports_ReporterId]    Script Date: 01/12/2024 21:44:11 ******/
CREATE NONCLUSTERED INDEX [IX_UserReports_ReporterId] ON [dbo].[UserReports]
(
	[ReporterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (N'') FOR [ClinicCity]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (N'') FOR [DisplayName]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (N'') FOR [HistoryOfWork]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((0)) FOR [NumberOfAppointments]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((0)) FOR [NumberOfVideoCalls]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (N'') FOR [Specialization]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OriginalEventId]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notices] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notices] ADD  DEFAULT ((0)) FOR [HasViewed]
GO
ALTER TABLE [dbo].[UserReports] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ReportedId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_user_UserId]
GO
ALTER TABLE [dbo].[DailyMetrics]  WITH CHECK ADD  CONSTRAINT [FK_DailyMetrics_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyMetrics] CHECK CONSTRAINT [FK_DailyMetrics_user_UserId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_user_UserId]
GO
ALTER TABLE [dbo].[DocumentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_DocumentProfiles_HealthProfiles_PantientId] FOREIGN KEY([PantientId])
REFERENCES [dbo].[HealthProfiles] ([Id])
GO
ALTER TABLE [dbo].[DocumentProfiles] CHECK CONSTRAINT [FK_DocumentProfiles_HealthProfiles_PantientId]
GO
ALTER TABLE [dbo].[HealthProfiles]  WITH CHECK ADD  CONSTRAINT [FK_HealthProfiles_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[HealthProfiles] CHECK CONSTRAINT [FK_HealthProfiles_User_UserId]
GO
ALTER TABLE [dbo].[Notices]  WITH CHECK ADD  CONSTRAINT [FK_Notices_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notices] CHECK CONSTRAINT [FK_Notices_user_UserId]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Events_EventId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[UserEvents]  WITH CHECK ADD  CONSTRAINT [FK_UserEvents_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserEvents] CHECK CONSTRAINT [FK_UserEvents_Events_EventId]
GO
ALTER TABLE [dbo].[UserEvents]  WITH CHECK ADD  CONSTRAINT [FK_UserEvents_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserEvents] CHECK CONSTRAINT [FK_UserEvents_user_UserId]
GO
ALTER TABLE [dbo].[UserReports]  WITH CHECK ADD  CONSTRAINT [FK_UserReports_user_ReporterId] FOREIGN KEY([ReporterId])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[UserReports] CHECK CONSTRAINT [FK_UserReports_user_ReporterId]
GO
ALTER TABLE [dbo].[chatMessage]  WITH CHECK ADD CHECK  (([senderType]='USER' OR [senderType]='AI'))
GO
USE [master]
GO
